@import "styleguide/css/app/base/core";
@import "styleguide/css/app/layout/wrapper";

.banner {

    width: 100%;
    min-height: 100%;
    position: relative;
    background: $blue-01;

    h1,
    h2,
    .copy {

        display: block;

    }

    .copy {

        position: absolute;
        width: 100%;
        top: 50%;
        color: $white-01;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

    }

    h1,
    h2 {

        text-align: center;

    }

    h1 {

        
        font-family: $helvetica;
        font-size: 100px;
        text-transform: uppercase;
        margin:0 0 20px;

    }

    h2 {

        font-weight: normal;
        font-family: $georgia;
        font-size: 15px;
        text-transform: uppercase;

    }

}

.intro {

    width: 70%;
    padding: 200px 0 200px;
    margin: 0 auto;

    h3 {

        display: block;
        width: 100%;
        text-align: center;
        font-size: 75px;
        color: $gray-01;
        font-family: $helvetica;
        text-transform: uppercase;
        margin: 0 0 50px;

    }

    h4 {

        display: block;
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-family: $helvetica;
        margin: 100px 0 0;

        a {

            color: $blue-01;
            text-decoration: none;

        }

    }

    p {

        display: block;
        font-family: $georgia;
        font-size: 25px;
        line-height: 40px;
        color: $gray-01;
        text-align: center;

    }

}

.basics {

    width: 100%;
    padding: 200px 0;
    background: #eee;

    h3 {

        display: block;
        color: $gray-01;
        font-family: $helvetica;
        font-size: 75px;
        text-align: center;
        margin: 0 0 50px;

    }

    ol {

        display: block;
        text-align: center;
        font-size: 40px;
        color: $blue-01;
        line-height: 70px;
        font-family: $georgia;

    }

    li{

        padding: 10px 0;
        display: block;
        width: 70%;
        margin: 0 auto;

    }

    a {

        display: block;

    }

}