// ---------- Colors

$black-01: #000;
$gray-01: #333;
$white-01: #fff;
$blue-01: #3ea5ce;

// ---------- Fonts

$helvetica: "Helvetica Neue", Helvetica, sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;