// ---------- Colors

$black-01: #000;
$black-02: #0b0b0b;
$gray-01: #333;
$gray-02: #0e1415;
$white-01: #fff;
$blue-01: #4dc0d3;
$blue-02: #2f7581;
$orange-01: #c15316;
$yellow-01: #ebc701;



// ---------- Fonts

$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$benchNine: 'BenchNine', sans-serif;
$noto: 'Noto Serif', serif;
$openSans: 'Open Sans', sans-serif;